body {
    margin:0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1, h5 {
    color: #120078;
}

h3, a {
    color: #120078;
}

p{
    color: #2f0345;
}

h1{
    margin: 0px;
    font-size: 5em;
    font-family: 'Architects Daughter', cursive;
}
h2 {
    font-size: 2rem;
    color: #52057b;
    font-weight: normal;
    margin-top: 0;
}
h5{
    margin-top: 0px;
}
hr {
    border-style: dotted none none;
    height: 5em;
    border-width: 1em;
    width: 7%;
    border-color: #52057b50;
    margin-top: 100px;
    margin-bottom: 0px;
}
.gift-icon{
    width: 75px;
}
.tag-line{
    margin-top: 0px;
    margin-bottom: 0px;
}

.cloud {
    max-width: 300px;
    position: absolute;
}
.cloud-1 {
    right: 480px;
    top: 10px;
}
.cloud-2 {
    right: auto;
    top: 150px;
}
.cloud-3 {
    left: 480px;
    top: 40px;
}

.intro-div {
    background-color: #d3f4ff;
    height: 851.104px;
    position: relative;
}
.intro {
    padding-top: 350px;
}
span {
    text-decoration: underline;
}
.xiangling {
    position: absolute;
    left:-95px;
    bottom: 0px;
    max-height: 707px;
}
.mona {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-height: 707px;
}
.about-me {
    width: 15%;
    margin: 0 auto;
}
.sucrose {
    width: 25%;
    border-radius: 200%;
    float: left;
    margin-right: 30px;
}
.beido{
    width: 25%;
    border-radius: 200%;
    float: right;
    margin-left: 30px;
}
.skill-row {
    width: 40%;
    margin: 150px auto;
    text-align: left;
    line-height: 2;
}
.my-image {
    margin-top: 40px;
    max-width: 200px;
}
.middle-container {
    line-height: 2;

}
.contact-me {
    width: 40%;
    margin: 100px auto;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #5a139c);
    background-image: -moz-linear-gradient(top, #3498db, #5a139c);
    background-image: -ms-linear-gradient(top, #3498db, #5a139c);
    background-image: -o-linear-gradient(top, #3498db, #5a139c);
    background-image: linear-gradient(to bottom, #3498db, #5a139c);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #8a43d1;
    background-image: -webkit-linear-gradient(top, #8a43d1, #3498db);
    background-image: -moz-linear-gradient(top, #8a43d1, #3498db);
    background-image: -ms-linear-gradient(top, #8a43d1, #3498db);
    background-image: -o-linear-gradient(top, #8a43d1, #3498db);
    background-image: linear-gradient(to bottom, #8a43d1, #3498db);
    text-decoration: none;
}
a {
    text-decoration: none;
}
.contact-message{
    width: 55%;
    margin: 0 auto 20px;
}
.bottom-container {
    background-color: #d3f4ff;
    line-height: 2;
    padding: 50px 0px 20px;
    font-family: 'Montserrat', sans-serif;
}
a:hover {
    color: #c596f5;
}
.copyright{
    font-family: 'Architects Daughter', cursive;
    size: 10px;
    margin: 50px auto 20px;
}
.bottom-container > a {
    margin: 0 20px;
}